body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
  padding-top: 10px;
  background-color: rgb(241, 241, 235);
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 10px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

@media screen and (min-width: 800px) and (max-width: 1599px) {
  .container { width: 600px; }
}
@media screen and (min-width: 1600px) {
  .container { width: 1400px; }
}

h1 {
  color: navy;
  text-align: center;
  text-decoration: underline;
}
h2 { color: blue; }

p {
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}

dt { font-weight: bold; }
dt::first-letter,
dd::first-letter { text-transform: uppercase; }
dd { font-style: italic; }
dt::after { content: ' :'; }

li::first-letter { text-transform: lowercase; }

p+ul,
p+ol,
p+dl {
  margin-top: 2px;
  padding-top: 0;
}

button,
a.btn {
  text-decoration: none;
  padding: 10px 30px;
  background-color: beige;
  color: black;
  border: 1px solid gray;
  border-style: inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

button:hover,
a.btn:hover {
  background-color: orange;
  font-weight: bold;
}
