.two-cols {
  display: flex;
  flex-flow: row wrap;
}

form,
#logs { width: 30%; }

#logs { flex-grow: 1; }

.bonus { font-style: italic; color: gray; }
.bonus::after { content: ' (bonus)'; }

#plus-ou-moins strong { color: green; }
#plus-ou-moins li::first-letter { text-transform: uppercase; }
